%h4 Users
%div{:class => "event"}
  %table
    %thead
      %tr
        %th
        %th Name
        %th
        %th
        %th
        %th
        %th
        %th
        %th Email
        %th
        %th
        %th
        %th
        %th
        %th
        %th
        %th Latest Event
    %tbody
      - @users.each do |user|
        %tr
          %td= image_tag avatar_url(user, 50)
          %td= user.full_name
          %td
          %td
          %td
          %td
          %td
          %td
          %td= user.email
          %td
          %td
          %td
          %td
          %td
          %td
          %td
          - if user.events.present?
            %td= link_to user.events.last.title, user.events.last
          - else
            %td None Yet
  %footer
