%h1 WePlay
%h2 It's always time for game night.
%p Organize game nights and events in collaboration with your friends.
%p
- if user_signed_in?
  %p Make an event!
- else
  = render "devise/registrations/form"
%hr/
%footer
  %p &copy; WePlay 2013